body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background: url('images/stars.jpg') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
}

#login-container {
    margin-top: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#login-form {
    display: inline-block;
    text-align: left;
}

#login-form label, #login-form input {
    display: block;
    margin-bottom: 10px;
}

#login-form input {
    padding: 10px;
    border-radius: 10px;
    border: none;
    width: 100%;
}

#orangutan {
    width: 100px;
    margin-bottom: 20px;
}